body {
    width: 100%;
    box-sizing: content-box;
}

.content {
    justify-content: center;
    padding: 30px;
}

.panier p, .recapitulation p{
    text-align: center;
    font-size: 20px;
}

.wrapper img {
    margin-left: 15px;
   font-size: 20px;
}

header {
    display: flex;
    width: 100%;
    justify-items: center;
    justify-items: baseline;
    justify-content: space-between;
    background-color: rgb(243, 232, 243);
}

.logo {
    width: 10%;
    padding-left: 0;
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.find{
    justify-content: space-between;
    padding-right: 60px;
    padding-top: 20px;
    justify-items: baseline;
}

.jumbotron {
    text-align: center;
    padding: 10px;
}

 /**footer**/
 footer {
    display: flex;
    background-color: rgb(243, 232, 243);
    justify-content: center;
}

.info {
    padding: 30px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    color: black;
}

.reseaux {
    padding-left: 75px;
}

.reseaux i {
    list-style: none;
    color: black;
    padding-left: 4px;
}

.fab {
    padding-top: 12px;
    font-size: large;
}

i.fas.fa-shopping-basket {
    align-items: center;
    padding-left: 50px;
    padding-right: 10px;
}
 

/*  body index */

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

#nameProduit {
    text-overflow: ellipsis;
}

/* recap-command */
#confirm-command {
    background-color: rgb(247, 95, 95);
}

.produit_notButton{
height: 70%;
}

.container{
overflow: hidden;
}

/* panier */
#totalLabel {
    text-align: right;
}

.formulaire{
margin-top: 70px;
}

/* produit */
.ajout_panier{
    padding-top: 3rem;
    text-align: right;
}

.content_produit{
    display: flex;
    justify-content: space-between;
}

.about{
    width: 71%;
    padding-top: 20px;
}

#lenses{
    width: 27%;
}